/*
* @Author: Administrator
* @Date:   2016-11-11 16:33:58
* @Last Modified by:   Administrator
* @Last Modified time: 2016-11-11 16:34:08
*/
.root {
  background-color: #eee;
  padding: 10px;
  border: 3px solid #ccc;
}
